aiohttp
channels
daphne
Django
django-countries
django-cors-headers
django-debug-toolbar
django-filter
djangorestframework
djangorestframework-simplejwt
djoser
drf-restwind
markdown
pillow
phonenumbers
python-dotenv
pygments